h1 {
  color: blue;
  font-size: 26px;
}

h2 {
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  text-align: center;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 21px;
}
